/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 共通設定 */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 〜480px：スマートフォン縦画面
------------------------------ */

 /* header */

header {
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index:10;
}

.header_main {
  display: flex;
  align-items: center;
  padding: 10px 4% 10px;
}
 
.header_link {
  font-size: 20px;
  text-decoration: none;
  color: #4b4b4b;
}

.header_nav {
  margin: 0 0 0 auto;
  height: 100%;
}

.header_ul {
  list-style: none;
  margin: 0px;
  display: flex;
  align-items: center;
  /* margin: 0 0 0 auto; */
}

.header_ul li a{
  vertical-align: middle;
}

.header_mobile {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.header_mobile > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
}

.header_mobile > span:nth-child(1) {
  top: 25%;
}

.header_mobile > span:nth-child(3) {
  top: 75%;
}

.header_category {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #333;
  margin: 0 auto;
  text-align: center;
}


.category_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.category_link{
  display: block;
  background: #333;
  color: #fff;
  font-size: 20px;
}

.category_link:hover{
  color: #000;
  background-color: #c9c9c9;
}

/* body */
/* article(index) */

.article_container {
  width: 90%;
  margin: 0 auto;
  background: #f8f8ff;
  margin: 100px auto;
  padding-bottom: 1px;
}

article {
  width: 86%;
  margin: 0px 20px 10px;
  padding-top: 16px;
}

.article_ul {
  list-style: none;
  margin-left: 205px;
}

.article_title {
  font-size: 20px;
}

.article_link {
  text-decoration: none;
  color: #4b4b4b;
}

.article_image {
  width: 190px;
  height: 190px;
  object-fit: cover;
  margin: 5px;
  position: absolute;
  left: 0px;
}

.article_position {
  box-sizing: content-box;
  width: 70%;
  padding: 0.5px 1px;
  margin: 28px 0;
  border: solid 2px #000000;
  position: relative;
  height: 200px;
}

/* body */
/* new, edit */

.form_container {
  background:#f8f8ff;
  text-align: center;
  width: 90%;
  margin: 100px auto;
  padding: 20px;
}

.form {
  width: 1000px;
  border: 2px solid #4b4b4b; 
  background-color: snow;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 20px;
}

.form_area {
  height: 500px;
  line-height: 1.2;
}

.form_p {
  padding: 30px;
}

.btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4b4b4b;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 20px;
}

.form_label {
  font-size: 28px;
}

/* body */
/* show */

.show_text {
  text-align: left;
  white-space: pre-wrap;
}

.show_title {
  font-size: 30px;
}

.show_content {
  font-size: 18px;
  line-height: 2;
}

.show_time {
  list-style: none;
  display: flex;
  margin: 10px auto;
}

.show_time li {
  margin-right: 10px;
  font-size: 14px;
}

.show_article{
  width: 60%;
  padding: 20px;
  margin: 0 auto;
}

/* footer */

footer {
  width: 100%;
  height: 100px; 
  padding: 20px 4% 0px;
  position: fixed;
  bottom: 0;
  background: #d3d3d3;
}

.footer_logo {
  text-decoration: none;
  color: #4b4b4b;
}

.footer_container {
  display: flex;
  align-items: center;
}

.footer_title {
  margin: 0; padding: 0;
  font-size: 20px;
}

.footer_nav {
  margin: 0 0 0 auto;
}

.footer_ul {
  list-style: none;
  display: flex;
  margin: 0 0 0 auto;
}

.footer_ul li {
  margin: 0 0 0 15px;
  font-size: 14px; 
}

.footer_copyright {
  margin: 0 auto;
}

.footer_copyright p {
  font-size: 13px;
  text-align: center;
}



/* 480px〜599px：スマートフォン横画面
------------------------------ */
@media screen and (min-width:480px) and (max-width:599px) { 
  


  }
  
  /* 600px〜959px：タブレット
  ------------------------------ */
  @media screen and (min-width:600px) and (max-width:959px) {
    .header_mobile {
      display: none;
    }
    .header_category {
      display: block;
    }
  }
  
  /* 960px〜1279px：小型PC
  ------------------------------ */
  @media screen and (min-width:960px) and (max-width:1279px) {
  
  }
  
  /* 1280px〜：大型PC
  ------------------------------ */
  @media screen and (min-width:1280px) {

  }