<header>
  <h1 class="header_title">
  <a href="/" class="header_logo">My Blog</a>
  </h1>
  <nav class="header_nav">
    <ul class="header_ul">
      <li>新規投稿</li>
      <li>自己紹介</li>
    </ul>
  </nav>
  
</header>